body {
            background-color: #d6eff8;
    }
hr  { 
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width: 3.5%;
    }
h1 { 
    color: #214151;
}
h3 {
    color: #214151;
}